# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
.idea/
*.iml
*.iws
.settings
.classpath
.project
.worksheet
